ejercicios.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ejercicios"></xs:element>


  <!-- Primer ejercicio-->
  <xs:element name="telefono">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[+][0-9]{11}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Segundo ejercicio-->
  <xs:element name="patron">
    <xs:simpleType>
      <xs:restriction base="xs:string">       
         <xs:pattern value="[a-zA-Z0-9]{5-8}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>


</xs:schema>